* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans',sans-serif;
}

body {
    display: block;
    padding: 0px 15%;
    height: 100%;
    width: 100%;
}
div{
    border: 1px solid black!important;
}

.heading {
    display: block;
    justify-content: center;
}

.navbar {
    /* height: 100px; */
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* position: sticky; */
    /* Static: Mặc định */
    /* fixed relative sticky static absolute */
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    width: 100%;
    /* height: 100px; */
    /* max-width: 1300px; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    height: 100%;
    width: 30%;
}

.navbar__logo img {
    width: 100%;
    height: 100%;
}

.navbar__banner {
    width: 70%;
    height: 100%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.slogan {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    font-size: 16px;
    min-width: 440px;
}

.phone {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    font-size: 16px;
}

.gmail {
    color:#1378b3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    font-size: 16px;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.button {
    text-decoration: none;
    color: #1378b3;
    font-size: 16px;
}

.navbar__item {
    height: 40px;
    width: 100%;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    font-size: small;
    background-color: rgb(61, 61, 238);
    border-right: 1px solid #1378b3;
    border-left: 2px solid #005282;
    padding-left: 15px;
    padding-right: 15px;
}

 /*  */

 .main__sidebar {
    width: 30%;
    float: left;
 }

 .search__box {
     width: 100%;
     display: flex;
     justify-content: center;
     /* align-items: center; */
 }

 .search__box form {
     margin: 0;
     padding: 0;
 }

 .search__box .input-box {
    padding: 7px;
    width: 100%;
    height: auto;
 }

 .search__box * {
    width: 100%;
    margin-bottom: 7px;
 }

 .search__box button {
    width: 90px;
    height: 30px;
 }

form {
    background-color: #005282;
    width: 100%;
    height: 100%;
}

form * {
    height: 30px;
}

form p {
    text-align: center;
    background-color:#1378b3;
    background-size: 100%;
    margin: 0%;
}

 /* .tb {
     padding-left: 10px;
     margin-left: 15px;
 } */

 /* .slcbox {
     padding-left: 10px;
     margin-left: 15px;
 } */

 form button {
     margin-left: 15px;
     color: #fff;
     background-color: #1378b3;
 }

/* .top__content {
    width: 100%;
    height: 500px;
}

.top__content table {
    width: 100%;
    height: 100%;
}*/

.sidebar__banner1 {
    width: 100%;
    height: auto;
}

.sidebar__banner1 img{
    width: 100%;
    height: 100%;
}

.sidebar__banner2 {
    width: 100%;
    height: auto;
}

.sidebar__banner2 img{
    width: 100%;
    height: 100%;
}

.list__box {
    margin-bottom: 10px;
}

.sidebar__menu {
    list-style:square;
    align-items: center;
    text-align: center;
    list-style-position: inside;
    margin-top: 10px;
}

.sidebar__header {
    text-align: left;
    background-color: #005282;

}

.sidebar__item {
    text-align: left;
    height: 30px;
    width: 100%;
    padding-left: 7px;
    margin-top: 4px;
}

.sidebar__links {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #fff;
}